<div>
  <table>
    <thead>
      <tr>
        <th>Id#</th>
        <th>Profile Pic</th>
        <th>Account Id</th>
        <th>Account Name</th>
        <th>User Name</th>
        <th>Followers count</th>
        <th>Media count</th>
        <th>ig id</th>
      </tr>
    </thead>
    <tbody>
      <% unless @business_accounts.blank? %>
        <% @business_accounts.each do |account| %>
          <tr>
            <td>
              <%= link_to account.id, '' %>
            </td>
            <td>
              <%= image_tag(account.profile_picture_url, size: "50x50") rescue ''%>
            </td>
            <td>
              <%= account.account_id %>
            </td>
            <td>
              <%= account.name %>
            </td>
            <td>
              <%= account.username %>
            </td>
            <td>
              <%= account.followers_count %>
            </td>
            <td>
              <%= account.media_count %>
            </td>
            <td>
              <%= account.ig_id %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="bg-info text-center" colspan="10">No Business on this location To Display.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>