Welcome to social accounts index

<%= form_tag search_accounts_social_accounts_path, :method => :put do %>
  <%= label_tag 'Please enter your page name'%><br>
  <%= text_field_tag "page_name", ''%>
  <%=submit_tag 'Search Accounts'%>
<% end %>